* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  background-color: #fff;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

body {
  overflow-x: hidden;
}

.green {
  color: #88b44e !important;
}

.white {
  color: #fff !important;
}

.desc {
  color: #ccc !important;
}

.home_bg-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 45px;
  color: #fff;
  border-radius: 32px;
}

.home .home_main-about {
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6rem;
  font-style: italic;
  color: #88b44e;
  margin-top: 30px;
}
.home .home_main-title {
  font-family: "Playfair Display", serif;
  font-size: 5rem;
  font-weight: 700;
  line-height: none;
  color: #252c30;
  margin: 20px 0 35px;
}
.home .home_main-sub {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.4;
  color: #6f7376;
}

main .bg_top {
  background-image: url("../image/tea/tea.jpg");
  height: 450px;
}
main .bg_top .bg_top-content {
  background-color: rgba(0, 0, 0, 0.35);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .bg_top .bg_top-content .bg_top-title {
  font-family: "Playfair Display", serif;
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 7.2rem;
  color: #fff;
}
main .bg_top .bg_top-content .bg_top-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}
main .bg_top .bg_top-content .bg_top-info .bg_top-link {
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
  color: #88b44e;
}
main .bg_top .bg_top-content .bg_top-info .bg_top-chevron {
  color: #88b44e;
  font-size: 1.8rem;
  transform: rotate(-90deg);
  margin-left: 30px;
  margin-top: 4px;
}
main .bg_top .bg_top-content .bg_top-info .bg_top-sub {
  font-family: "Nunito Sans", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
  color: #fff;
  padding-left: 30px;
  margin: 0;
}

main .contact .contact_main {
  position: relative;
  display: flex;
  flex-direction: column;
}
main .contact .contact_main .contact_main-title {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
main .contact .contact_main .contact_main-title .contact_main-name {
  font-family: "Playfair Display", serif;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  color: #252c30;
  margin: 4px 0;
}
main .contact .contact_main .contact_main-img {
  width: 100%;
  height: 600px;
}
main .contact .contact_main .contact_main-content .contact_central {
  background-image: url("../image/index/leaf.png");
  padding: 90px 30px 0;
}
main .contact .contact_main .contact_main-content .contact_central .contact_title {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
  color: #252c30;
}
main .contact .contact_main .contact_main-content .contact_central .contact_sub {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
  color: #252c30;
  margin: 45px 0;
}
main .contact .contact_main .contact_main-content .contact_central .contact_icon-list .contact_icon-item {
  padding-left: 0;
  list-style: none;
  margin: 15px 0;
}
main .contact .contact_main .contact_main-content .contact_central .contact_icon-list .contact_icon-item .contact_icon-link {
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #88b44e;
}
main .contact .contact_main .contact_main-content .contact_central .contact_icon-list .contact_icon-item .contact_icon-link span {
  padding-left: 15px;
  color: #252c30;
}
main .contact .contact_main .contact_main-content .contact_central .contact_icon-list .contact_icon-item .contact_icon-link:hover {
  opacity: 0.8;
}
main .contact .contact_main .contact_main-content .contact_central .contact_list {
  display: flex;
}
main .contact .contact_main .contact_main-content .contact_central .contact_list .contact_item {
  list-style: none;
  margin-left: 20px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: none;
  background-color: #88b44e;
  padding: 16px;
  border-radius: 50%;
}
main .contact .contact_main .contact_main-content .contact_central .contact_list .contact_item .contact_link {
  text-decoration: none;
  color: #fff;
}
main .contact .contact_main .contact_main-content .contact_central .contact_list .contact_item:hover {
  background-color: #252c30;
  color: #fff;
}
main .contact .contact_main .contact_main-content .contact_open {
  background-image: url("../image/index/leaf.png");
  padding: 90px 30px 0;
}
main .contact .contact_main .contact_main-content .contact_open .contact_title {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
  color: #252c30;
  margin-bottom: 45px;
}
main .contact .contact_main .contact_main-content .contact_open .contact_open-sub {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: #252c30;
}
main .contact .contact_main .contact_main-content .contact_info-table {
  background-color: rgb(245, 248, 242);
  padding: 90px 30px 0;
}
main .contact .contact_main .contact_main-content .contact_info-table .contact_info-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: #252c30;
}
main .contact .contact_main .contact_main-content .contact_info-table .contact_info-form .contact_info-content {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}
main .contact .contact_main .contact_main-content .contact_info-table .contact_info-form .contact_info-content .contact_info-label {
  margin-bottom: 6px;
}
main .contact .contact_main .contact_main-content .contact_info-table .contact_info-form .contact_info-content .contact_info-input {
  height: 64px;
  width: 280px;
  border-radius: 36px;
  border: 1px solid #88b44e;
  outline: none;
  padding: 0 30px;
  background-image: url("../image/index/customers-bg.png");
}
main .contact .contact_main .contact_main-content .contact_info-table .contact_info-form .contact_info-content .contact_info-input::-moz-placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6rem;
  color: #252c30;
}
main .contact .contact_main .contact_main-content .contact_info-table .contact_info-form .contact_info-content .contact_info-input:-ms-input-placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6rem;
  color: #252c30;
}
main .contact .contact_main .contact_main-content .contact_info-table .contact_info-form .contact_info-content .contact_info-input::placeholder {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6rem;
  color: #252c30;
}
main .contact .contact_main .contact_main-content .contact_info-table .contact_info-form .contact_info-content .contact_info-mes {
  height: 145px;
  width: 280px;
  border-radius: 20px;
  border: 1px solid #88b44e;
  outline: none;
  padding: 30px;
  background-image: url("../image/index/customers-bg.png");
}
main .contact .contact_main .contact_main-content .contact_info-table .contact_info-form .contact_info-submit {
  margin: 45px 0;
  border: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  background-color: #88b44e;
  color: #fff;
  text-transform: uppercase;
}
main .contact .contact_main .contact_main-content .contact_info-table .contact_info-form .contact_info-submit:hover {
  background-color: #252c30;
  cursor: pointer;
}

main .blog .blog_main {
  padding: 0 15px 0 10px;
  margin: 0;
}
main .blog .blog_main .blog_main-left {
  margin: 60px 15px 0 30px;
  padding: 0;
  width: 770px;
}
main .blog .blog_main .blog_main-left .blog_content-item {
  margin-bottom: 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
main .blog .blog_main .blog_main-left .blog_content-item .blog_content-link {
  display: inline-block;
  text-decoration: none;
}
main .blog .blog_main .blog_main-left .blog_content-item .blog_content-link .content-img {
  overflow: hidden;
  height: 470px;
}
main .blog .blog_main .blog_main-left .blog_content-item .blog_content-link .content-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1);
  transition: transform 0.5s;
}
main .blog .blog_main .blog_main-left .blog_content-item .blog_content-link .content-img img:hover {
  transform: scale(1.2);
}
main .blog .blog_main .blog_main-left .blog_content-item .blog_content-link .content-about {
  padding: 30px 0 0 20px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: #88b44e;
  font-style: italic;
}
main .blog .blog_main .blog_main-left .blog_content-item .blog_content-link .content-title {
  font-family: "Playfair Display", serif;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.2rem;
  color: #252c30;
  margin: 10px 0 20px;
  padding: 0 20px;
}
main .blog .blog_main .blog_main-left .blog_content-item .content-sub {
  color: #252c30;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: justify;
  padding: 0 20px;
}
main .blog .blog_main .blog_main-left .blog_content-item .content-calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: 30px 20px 0;
  color: #252c30;
  border-top: 1px solid #ccc;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4;
}
main .blog .blog_main .blog_main-left .blog_content-item .content-calendar .content-month {
  display: flex;
  font-weight: bold;
}
main .blog .blog_main .blog_main-left .blog_content-item .content-calendar .content-info {
  display: flex;
}
main .blog .blog_main .blog_main-left .blog_content-item .content-calendar .content-info div i {
  color: #88b44e;
}
main .blog .blog_main .blog_main-left .blog_content-item .content-calendar .content-info .content-view {
  padding-left: 30px;
}
main .blog .blog_main .blog_main-left .blog_content-item.blog_content-item1 {
  background-color: #fff;
  border-bottom: 5px solid #fff;
}
main .blog .blog_main .blog_main-left .blog_content-item.blog_content-item1:hover {
  background-color: rgba(136, 180, 78, 0.1);
  border-bottom: 5px solid #88b44e;
}
main .blog .blog_main .blog_main-left .blog_content-item.blog_content-item1 .content-title:hover {
  background-color: none;
  color: #88b44e;
}
main .blog .blog_main .blog_main-left .blog_content-item2 {
  position: relative;
}
main .blog .blog_main .blog_main-left .blog_content-item2 .bg_content-body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
main .blog .blog_main .blog_main-left .blog_content-item2 .bg_content-body .content-body .content-about2 {
  position: absolute;
  left: 0;
  top: 0;
  cursor: text;
}
main .blog .blog_main .blog_main-left .blog_content-item2 .bg_content-body .content-body .content-title2 {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  color: #fff;
  text-shadow: 5px 2px 4px #252c30;
  cursor: text;
}
main .blog .blog_main .blog_main-left .blog_content-item2 .bg_content-body .content-body .content-title2 span {
  margin-bottom: 8px;
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: #6f7376;
}
main .blog .blog_main .blog_main-left .blog_content-item2:hover .content-img img {
  transform: scale(1.1);
}
main .blog .blog_main .blog_main-left .blog_content-note {
  margin-bottom: 30px;
  border-bottom: 5px solid transparent;
  border-radius: 3px;
  background-color: rgba(136, 180, 78, 0.1);
}
main .blog .blog_main .blog_main-left .blog_content-note .blog_content-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .blog .blog_main .blog_main-left .blog_content-note .blog_content-link .content-about {
  padding: 60px 0 0 20px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8rem;
  color: #88b44e;
  font-style: italic;
}
main .blog .blog_main .blog_main-left .blog_content-note .blog_content-link .content-sub {
  color: #252c30;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  padding: 0 60px;
}
main .blog .blog_main .blog_main-left .blog_content-note .blog_content-link .link-icon,
main .blog .blog_main .blog_main-left .blog_content-note .blog_content-link .quote {
  font-size: 3.2rem;
  color: #88b44e;
  padding: 10px 0 60px;
}
main .blog .blog_main .blog_main-left .blog_content-note:hover {
  border-bottom: 5px solid #88b44e;
}
main .blog .blog_main .blog_main-right {
  padding: 60px 40px;
  margin: 0 25px;
  width: 385px;
  background-color: rgb(245, 248, 242);
  border-top: 5px solid #88b44e;
}
main .blog .blog_main .blog_main-right .blog_right-content {
  margin-bottom: 60px;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_right-name {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_right-name h3 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  padding: 0 10px;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_right-name .line {
  width: 30px;
  height: 0.5px;
  background-color: #88b44e;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_right-search {
  width: 100%;
  height: 50px;
  border: 1px solid #88b44e;
  display: flex;
  border-radius: 32px;
  overflow: hidden;
  background-color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: none;
  line-height: none;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_right-search input {
  background-image: url("../image/index/customers-bg.png");
  width: calc(100% - 50px);
  height: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_right-search button {
  width: 50px;
  height: 100%;
  border: none;
  background-color: transparent;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_categories-list .blog_categories-item {
  margin: 8px 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6rem;
  color: #88b44e;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_categories-list .blog_categories-item .blog_categories-link {
  text-decoration: none;
  color: #252c30;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_categories-list .blog_categories-item .blog_categories-link:hover {
  background-color: none;
  color: #88b44e;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_recent-list .recent_main {
  text-decoration: none;
  display: flex;
  margin-bottom: 20px;
  color: #252c30;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_recent-list .recent_main .recent_main-img img {
  width: 90px;
  height: 60px;
  transform: scale(1);
  transition: transform ease-in 0.3s;
  border-radius: 3px;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_recent-list .recent_main .recent_main-img img:hover {
  transform: scale(1.1);
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_recent-list .recent_main .recent_op {
  padding-left: 20px;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_recent-list .recent_main .recent_op .recent_date {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: #6f7376;
  font-style: italic;
  margin-bottom: 6px;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_recent-list .recent_main .recent_op .recent_name {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_recent-list .recent_main:hover {
  background-color: none;
  color: #88b44e;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_read-more {
  text-decoration: none;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_read-more button {
  border-radius: 32px;
  width: 120px;
  height: 35px;
  background-color: #88b44e;
  color: #fff;
  border: none;
  color: #fff;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: none;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_read-more button:hover {
  background-color: #252c30;
  color: none;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_right-cmt {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #88b44e;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_right-cmt span {
  font-style: italic;
  color: #252c30;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_tags-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_tags-list .blog_tags-item {
  list-style: none;
  margin: 6px 8px;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_tags-list .blog_tags-item .blog_tags-link {
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #88b44e;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_tags-list .blog_tags-item .blog_tags-link span {
  color: #252c30;
}
main .blog .blog_main .blog_main-right .blog_right-content .blog_tags-list .blog_tags-item .blog_tags-link span:hover {
  background-color: none;
  color: #88b44e;
}/*# sourceMappingURL=blog.css.map */